:root{

    --white:#FFFf;
    --primary: #4D228A;
    --secundary: #6F31AD;
    --secundary2: #AB58B9;
    --secundary5:#F3F5F7;
    --grey1: #333333;
    --grey2: #4F4F4F;
    --grey3: #828282;
    --grey4: #F6F6F6;
    --grey5: #E0E0DE;


}